<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Personal library</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="wrapper">
    <div class="col-md-4">
        <h2>Unavailable books</h2>
        <table class="table borderless unavailable_book_table">
            <thead>
                <tr>
                    <th>Book</th>
                    <th>User</th>
                    <th>Phone</th>
                    <th>Return</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Available books</h2>
        <table class="table borderless available_book_table">
            <thead>
            <tr>
                <th>Book</th>
                <th>User</th>
                <th>Lend</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="col-lg-6">
            <p class="add_title">Add user</p>
                <div class="add_user">
                    <input class="form-control" type="text" name="name" placeholder="Name"/>
                    <input class="form-control" type="text" name="phone" placeholder="Phone nr"/>
                    <button class="btn btn-primary">Add User</button>
                </div>
        </div>
        <div class="col-lg-6">
            <p class="add_title">Add book</p>
            <div class="add_book">
                <input class="form-control" type="text" name="book_title" placeholder="Book title"/>
                <button class="btn btn-primary">Add book</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:fragment="bootstrap" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script th:src="@{/js/raamatukogu.js}"></script>

</body>
</html>